.card{
    padding-left: 5px;
  }
  .example-card {
    max-width: 500px;
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8UnHtFx5x1L_RlniPBx9EYnnNr8oxRy0flw&usqp=CAU');
    background-size: cover;
  }
  .ans{
    text-decoration:brown;
    text-align-last: center;
    text-emphasis: 50;
    padding-top: 5%;
  
  }
  .body{
    padding-left: 1%;
    padding-top: 1%;
    
  }