<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/houses" routerLinkActive="active"  *ngIf = "(authService.getUser()|async)" >Countries</a>
      <a mat-list-item routerLink="/customer-form" routerLinkActive="active"  *ngIf = "(authService.getUser()|async)">Add Customer</a>
      <a mat-list-item routerLink="/customers" routerLinkActive="active"  *ngIf = "(authService.getUser()|async)">My customers</a>
      <a mat-list-item routerLink="/change" routerLinkActive="active"  *ngIf = "(authService.getUser()|async)">Currency change</a>

      



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Real estate Agency</span>
      <span class="spacer"></span>
      <a class = "whitelink" routerLink = "/sign-up" *ngIf = "!(authService.getUser()|async)">Sign up</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>
      <a class = "whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getUser()|async)">Logout</a>
    </mat-toolbar>
    <!----p *ngIf = "!(authService.getUser()|async)">Welcome!</p-->
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>