<div class="welcome">
    <p class="title">The Real Estate Web</p>
    <p class="exp">Here you could add new customers, predict there loan and </p> 
    <p class="exp2">search more information about their country </p> 
    
</div>

